<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Testing</title>

    <style>
      body{
        font-size:14pt;
      }
    </style>
  </head>
  <body>

    <form method="POST" action="/result">
      <input type="radio" value="take" name="action" id="form_option_take">
      <label for="form_option_take">Take Energy</label>
<br><br>
      <input type="radio" value="give" name="action" id="form_option_give">
      <label for="form_option_give">Give Energy</label>
<br><br>
      <input type="submit">
    </form>

  </body>
</html>
